body {
    background-color: #EFF2F1;
}

.home_page_hero {
    width: 100%;
    background-color: #3B5D50;
}

.home_hero_heading_box {
    margin-top: 80px;
}

.home_hero_heading_box h1 {
    font-size: 54px;
    color: white;
    font-weight: 700;
}

.home_hero_heading_box p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

.home_hero_btns_div {
    display: flex;
    gap: 10px;
}

.home_hero_shop_now_btn {
    border: none;
    align-self: center;
    border-radius: 30px;
    background-color: #F9BF29;
    padding: 12px 30px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.home_hero_shop_now_btn:hover {
    background-color: #e9b125;
    color: black;
}

.home_hero_explore_btn {
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    padding: 12px 30px;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.5);
    background: transparent;
    color: white;
    transition: all 0.5s ease;
    gap: 3px;
}

.home_hero_explore_btn:hover {
    border-color: white;
}

.home_page_hero_img_box {
    position: relative;
    z-index: 1;
}

.home_page_hero_img_box::after {
    content: url('https://themewagon.github.io/furni/images/dots-light.svg');
    position: absolute;
    top: 55px;
    right: -60px;
    z-index: 0;
}

.home_page_hero_img_box img {
    z-index: 1;
    position: relative;
    width: 100%;
}

.products_home_section {
    margin-top: 100px;
}

.craft_heading {
    font-size: 32px;
    font-weight: 500;
}

.craft_description {
    font-size: 14px;
}

.craft_button {
    margin-top: 10px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    padding: 12px 30px;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.5);
    background: rgb(43, 42, 42);
    color: white;
    transition: all 0.5s ease;
}

.craft_button:hover {
    background-color: black;
}

.whyChooseUsContainer {
    margin-top: 150px;
}

.choose_heading {
    font-size: 32px;
}

.whyChooseimage {
    border-radius: 20px;
    width: 80%;
    text-align: end;
}

.whyChooseImageContainer {
    position: relative;
    z-index: 1;
}

.whyChooseImageContainer img {
    position: relative;
    z-index: 1;
}

.whyChooseImageContainer::before {
    content: url('https://themewagon.github.io/furni/images/dots-yellow.svg');
    position: absolute;
    top: -88px;
    left: 35px;
    z-index: 0;
}
.helpYouContainer{
    margin-top: 200px;
}
.ImagesGrid{
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    position: relative;
}
.ImagesGrid::before{
    position: absolute;
    content: "";
    width: 255px;
    height: 217px;
    background-image: url("https://themewagon.github.io/furni/images/dots-green.svg");
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: -1;
}
.gridOne{
    -ms-grid-column: 1;
    -ms-grid-column-span: 18;
    grid-column: 1 / span 18;
    -ms-grid-row: 1;
    -ms-grid-row-span: 27;
    grid-row: 1 / span 27;
}
.gridOne img{
    border-radius: 20px;
    max-width: 100%;
}
.gridTwo{
    -ms-grid-column: 19;
    -ms-grid-column-span: 27;
    grid-column: 19 / span 27;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / span 5;
    padding-left: 20px;
}
.gridTwo img{
    border-radius: 20px;
    max-width: 100%;
}
.gridThree{
    -ms-grid-column: 14;
    -ms-grid-column-span: 16;
    grid-column: 14 / span 16;
    -ms-grid-row: 6;
    -ms-grid-row-span: 27;
    grid-row: 6 / span 27;
    padding-top: 20px;
}
.gridThree img{
    border-radius: 20px;
    max-width: 100%;
}
/* **************** */
.helpYouSectionHeading{
    font-size: 32px;
}
.HelpYouSectionPara{
    line-height: 28px;
    color: #6a6a6a;
}
.UlKeyPoints{
    padding-left: 1rem !important;
    color: #6a6a6a;
}
.helpYouButton{
    margin-top: 30px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    padding: 12px 30px;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.5);
    background: rgb(43, 42, 42);
    color: white;
    transition: all 0.5s ease;
}
.helpYouButton:hover {
    background-color: black;
}
.productCardSection{
    margin-top: 135px;
}